html,
body {
  height: 100%;
}

/* =========Styling of Navbar========== */

.navbar {
  background-color: #18202e;
}
.navbar > div {
  color: white;
  padding: 10px 5px 5px 20px;
  font-size: 16px;
}
.navbar > div > a {
  padding-right: 80px;
}
.navbar-brand {
  font-size: 32px;
}

.input-group input {
  background-color: #343b4a;
}

#basic-addon1:hover {
  cursor: pointer;
  background-color: #18202e;
  color: white;
}

.logout a {
  text-decoration: none;
  color: #fff;
  transition: 0.2s ease;
}

.logout a:hover {
  color: rgb(223, 223, 223);
  text-decoration: none;
}

/* ==============Stying of the 1st Column   the Chat List  */

#chat_names {
  position: absolute;
  top: 76px;
  bottom: 0px;
  left: 0px;
  width: 36%;
  overflow-y: scroll;
  background-color: #343b4a;
  color: white;
  padding: 0;
}

#chat_text {
  position: absolute;
  top: 76px;
  bottom: 0;
  right: 0;
  overflow-y: scroll;
  width: 70%;
  background-color: #ececec;
}

#chat_names_ul {
  font-size: x-large;
  /* margin-top: 1rem; */
  padding: 0;
  width: 100%;
}

ul {
  list-style: none;
}

#chat_names_ul li {
  padding: 20px;
  width: 100%;
}

#chat_names_ul li:hover {
  cursor: pointer;
  background-color: #18202e9d;
}

.single-user {
  display: flex;
  justify-content: space-around;
}

.username {
  margin-left: 2rem;
}

.user-image {
  width: 4rem;
  height: 4rem;
}

ul > li.active {
  background-color: #18202e;
  font-weight: 700;
}

#chat_names_ul li span {
  font-size: medium;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

/* ========================Styling OF the 2nd Column    The chat Box/window */

.chat_window {
  position: relative;
  top: 0px;
  bottom: 0px;
  overflow-y: auto;
  margin-bottom: 70px;
}

.chat_window li {
  margin: 1rem 0;
}

.chat_window .contact_message {
  float: left;
  clear: both;
}

.chat_window .user_message {
  float: right;
  clear: both;
  color: white;
}

.chat_window .contact_message span {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
}

.chat_window .user_message span {
  background-color: #0b7df6d0;
  padding: 10px;
  border-radius: 10px;
}

/* ================ Styling Of #3rd Column    the input Text and the send button=================================== */

.input_message {
  position: absolute;
  padding: 10px;
  bottom: 0;
  right: 11px;
  margin: 0px 5px;
  background-color: #f9f9f9;
  box-sizing: border-box;
  width: 65.6%;
}

.input_message input {
  width: 90%;
  height: 40px;
}

.input_message button {
  height: 50px;
  width: 50px;
  background-color: #0b7df6;
  border-radius: 50%;
}
